.container{
    margin-top:auto;
}


.form-control{
    margin-right: 2px;
}



#search-history{
    margin-top:1px;
}


.card{
    padding-bottom: 20px;
    margin-bottom:5px ;
    background: white;
    margin-right: 3px;
    width:600px;
    height:190px;
}


#current{

    
    margin-left: 10px;
    background: white;
    color:black;
}

.d1{

    width:250px;
    height:30px;
    border:1px solid blue;
    background:lightgrey;
    color:palevioletred;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-top: 8px;
}

.aside1{
    display:inline-flex;
}